<div class='navbar'>
	<div id='emoji'>
	  <i class="fa-solid fa-road"></i>
	</div>
	<div>
		<%= link_to "Home", cars_path %>
     | 
    <%= link_to "My garage", favourites_path %>
	</div>
</div>

<div class="container">
  <div class="fav-container">
    <h4>My garage</h4>
    <% @favourites.each do |favourite| %>
      <div class="fav-card">
        <%#= image_tag favourite.car.image_url %>
        <%= link_to image_tag(favourite.car.image_url), car_path(favourite.car), class: 'fav-image' %>
        <div class="details">
          <div class="fav-info">
            <%= link_to car_path(favourite.car) do %>
              <h6><%= favourite.car.brand %></h6>
              <h6><%= favourite.car.model %></h6>
            <% end %>
            <p><%= favourite.car.year %> | <%= favourite.car.fuel %></p>
          </div>
          <div class="btn-delete">
            <p><%= link_to raw('<i class="fa-solid fa-trash-can"></i>'), favourite_path(favourite),
                  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
          </div>
        </div>
      </div>
    <% end %>
    <p class="back-link"> <%= link_to "Back to cars", cars_path %> </p>
  </div>
</div>